@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./dashboard.scss');

@import url('./inputs.scss');
@import url('./loading.scss');

@import url('./buttons.scss');

html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;

}

[dir="rtl"] {
        @apply font-[Almarai];
  
  }
body{
    @apply dark:bg-darkSecondary;

}

.otp_field {
    @apply lg:w-[78px] focus:bg-whiteTamkin lg:h-[65px] ipad-max:w-[55px] ipad-max:h-[45px] md:w-[50px]
     md:h-[40px] w-[50px] h-[50px] flex flex-col items-center justify-center text-center px-5 dark:border-darkborder dark:text-whiteTamkin
     rounded-[15px] border border-lightGrey focus:outline-none focus:ring-0 focus:border-tamkin dark:bg-tamkinDarkPrimary
     shadow-sm text-lg bg-whiteTamkin [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none
      [&::-webkit-inner-spin-button]:appearance-none;

}

input:-webkit-autofill {
    @apply [-webkit-box-shadow:0_0_0_1000px_white_inset];
}

.is-complete {
    @apply border-[1px] border-tamkin #{!important};
}

.password_eye {
    @apply absolute top-[6px] lg:top-[6px] rtl:left-[30px] ltr:right-[30px] p-1 cursor-pointer hover:opacity-80;

    .svg_eye {
        @apply w-[16px] h-[16px] lg:h-[20px] lg:w-[20px] text-light;
    }
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

* {
    box-sizing: border-box;
}



.scrollable-div {
    position: relative;
    overflow-y: scroll;
    height: 315px;
    /* Set the height of the div */

}

.scrollable-div::-webkit-scrollbar {
    width: 9px !important;
    /* Width of the scrollbar */

}

.scrollable-div::-webkit-scrollbar-track {
    @apply bg-[#D9D9D9];
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Roundness of the track */

}

.scrollable-div::-webkit-scrollbar-thumb {
    @apply bg-[#999696];
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Roundness of the thumb */


}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
    /* Color of the scrollbar thumb when hovered */
}


.el-loading-mask {
    padding: 0 !important;
    margin: 0 !important;
}


@keyframes slideInLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes slideOutLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes slideInRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes slideOutRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }
  
  .multiselect--disabled{
    @apply  rounded-[10px] cursor-not-allowed  #{!important};
    .multiselect__select{
      @apply bg-transparent #{!important};
    }
  }

.multiselect {
    @apply relative rtl:font-[Almarai];
  
    .multiselect__tags {
      @apply h-[40px] !text-darkGrey rounded-[10px] rtl:lg:pr-[30px] ltr:lg:pl-[16px]  rtl:font-[Almarai]
      bg-white dark:bg-transparent border-lightGrey  !font-[400] ltr:font-[Poppins]
      md:w-full lg:w-full text-[13px] lg:text-[12px] 2xl:text-[14px]  ipad-max:max-w-full w-full border-[1px]
       focus:border-tamkin focus:ring-transparent focus:outline-none placeholder:text-transparent
        disabled:bg-gray-100 disabled:cursor-not-allowed #{!important};
  
      &.error_text {
        // @apply text-light; 
      }
    }
   
  
    .multiselect__placeholder {
      @apply cursor-text rounded-[10px] !mb-0 duration-100 ease-linear text-light
       peer-focus:text-darkGrey text-[13px] lg:text-[14px] 2xl:text-[14px]
        !font-[500] peer-focus:text-[12px] ipad-max:text-[10px] bg-transparent;
    }
  
    .multiselect__input {
      @apply h-auto !text-darkGrey; 
    }
  
    .multiselect__input:focus {
      outline: none !important;
      @apply border-0 !ring-0 ring-transparent;
    }
  
    .multiselect__input::placeholder {
      @apply cursor-text rounded-[10px] duration-100 ease-linear text-light
       peer-focus:text-darkGrey text-[13px] lg:text-[14px] 2xl:text-[14px] font-[500] peer-focus:text-[12px] 
       ipad-max:text-[10px] ipad-max:peer-focus:text-[12px] bg-transparent
    }
  
    .multiselect__option--highlight {
      @apply bg-tamkinLight !text-darkGrey;
    }
  
    .multiselect__option--highlight::after {
      content: attr(data-select);
      @apply bg-tamkinLight text-darkGrey;
    }
  
    .multiselect__tag {
      @apply bg-tamkinLight text-darkGrey h-auto !rounded-[0px];
    }
    .multiselect__select::before{
      @apply hidden #{!important};
    }
  }
  
  
  .slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.5s ease;
}
.slide-right-enter-from {
  transform: translateX(100%);
}
.slide-right-leave-to {
  transform: translateX(100%);
}

/* Left slide for RTL */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform 0.5s ease;
}
.slide-left-enter-from {
  transform: translateX(-100%);
}
.slide-left-leave-to {
  transform: translateX(-100%);
}