
  $colors: (
  "primary": (start: #2dada3,
    end: #71dad2,
    light: #daf3f1,
  ),
);
.btn-action-translate{
  @apply bg-white dark:bg-darkSecondary dark:text-whiteTamkin border-translate border-s 
  flex items-center justify-center  rounded-[9px]  text-darkGrey h-[33px] py-[4px] text-[12px] px-[32px];

  &:hover{
    @apply bg-gradient-to-r from-[#35C0B4]/10 via-[#E42AD2]/10 to-[#4F75FD]/10 ;
  }

}

  .btn-inactive {
    background: #D9D9D9 !important;
    color: #fff !important;
    border-color: #D9D9D9 !important;
  }

.btn-grad-action {
  @apply h-[40px] lg:text-[15px] disabled:bg-lightGrey 
  disabled:bg-tamkin-disabled disabled:border-0  disabled:border-transparent disabled:text-white disabled:cursor-not-allowed 
   md:w-[400px] xl:w-[580px] font-[600] text-[16px] w-full text-white rounded-[10px] dark:border-darkborder
    hover:text-black border-[1px] hover:border-tamkin bg-size-200 bg-pos-0 hover:bg-pos-100;
  line-height: 24px;
  background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);

  &:hover {
    @apply bg-gradient-to-b from-tamkinLight to-tamkinLight dark:from-darkTamkin dark:to-darkTamkin disabled:bg-tamkin-disabled; 

  }
}

.google_login_button {
  @apply h-[40px] border-tamkin md:w-full xl:w-[580px] font-[400] text-[16px] lg:text-[20px] lg:w-full w-full text-black rounded-[10px] transition-all duration-200 hover:bg-tamkin/15 border-[1.5px] bg-transparent;
}

[type="checkbox"] {
  vertical-align: middle;
}

.processing_payment {
  @apply  text-white disabled:cursor-not-allowed h-[45px] rounded-[10px] p-[16px]
   flex items-center justify-center space-x-[4px] w-full   leading-[30px] font-[600]
   bg-[#6E8886]   border-0;

}
.btn-dashboard {
  background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);

  @apply  border-[1px] border-tamkin text-white  rounded-[10px] ipad-max:h-[40px] disabled:bg-lightGrey 
  disabled:bg-tamkin-disabled disabled:border-0 disabled:text-white  disabled:cursor-not-allowed
  p-[6px] lg:p-[16px] text-[10px] lg:text-[15px] lg:h-[40px] h-[40px] flex items-center justify-center space-x-[4px] w-full
  
  ;

  &:not(.normal_hover, .no_hover, .hover_tamkin):hover {
    @apply bg-white;
  }

  &.no_hover:hover {
    @apply cursor-pointer;
  }

  &:not(.normal_hover, .no_hover, .hover_light, .hover_tamkin):hover {
    @apply text-darkGrey dark:text-whiteTamkin;
  }

  &.normal_hover:hover {
    @apply text-darkGrey dark:text-whiteTamkin bg-white dark:bg-tamkinDarkPrimary disabled:bg-gradient-to-b disabled:border-0 disabled:from-lightGrey disabled:to-lightGrey disabled:text-white disabled:cursor-not-allowed;
  }

  &.hover_light:hover {
    @apply text-darkGrey bg-[#DAF3F1] border-0;
  }

  &.hover_tamkin:hover {
    @apply text-tamkin bg-tamkin-white dark:bg-p disabled:bg-tamkin-disabled disabled:text-white;
  }

  
}

.btn-default {

  @apply   bg-[#F7F7F7] text-darkGrey  rounded-[10px] ipad-max:h-[40px] flex items-center justify-center
  disabled:bg-tamkin-disabled disabled:border-0 disabled:text-white disabled:hover:bg-tamkin-disabled disabled:cursor-not-allowed
   px-4 text-[10px] lg:text-[15px] h-[40px] font-[500] ;

  &:hover{
    .text{
      @apply bg-gradient-to-b from-tamkinStart to-tamkinEnd bg-clip-text text-transparent;

    }

  }
  
}
.btn-translate {
  @apply  dark:border-darkborder text-[10px] leading-[15px] text-darkGrey h-[30px] rounded-[5px] p-[16px]

  flex items-center rtl:space-x-reverse space-x-[4px] relative #{!important};
  &.tamkin{
    &::before{
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 5px; 
      padding: 1.4px; 
      background:linear-gradient(180deg,#2DADA3,#71DAD2); 
      -webkit-mask: 
         linear-gradient(#fff 0 0) content-box, 
         linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
              mask-composite: exclude; 
    }
  }
  &.active_tamkin {
    @apply text-white bg-tamkin-primary dark:bg-p disabled:bg-tamkin-disabled disabled:text-white #{!important};
  }
  &.hover_tamkin:hover {
    @apply text-white bg-tamkin-primary dark:bg-p disabled:bg-tamkin-disabled disabled:text-white #{!important};
  }
&::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px; 
  padding: 1.4px; 
  background:linear-gradient(45deg,#d9d9d9,#d9d9d9); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
  

  &:hover, &.active {
    @apply border-transparent relative #{!important};

  &::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px; 
    padding: 1.4px; 
    background:linear-gradient(180deg,#2DADA3,#71DAD2); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

    .text {
      @apply bg-gradient-to-b from-tamkinStart to-tamkinEnd bg-clip-text text-transparent;
    }
    .text_normal_hover {
      @apply text-white;
    }
  }
}




.btn-dashboard-normal {
  @apply border-[1px] border-tamkin text-[15px] text-white h-[40px] rounded-[10px] p-[16px] 
  flex items-center space-x-[4px] #{!important};
  background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);

  &:hover {
    background: white !important;
  }

  &:not(.normal_hover):hover {
    @apply text-white;
  }

  &.normal_hover:hover {
    @apply text-darkGrey bg-tamkinLight dark:bg-tamkinDarkPrimary dark:text-white #{!important};
  }
}

.close_sidebar_btn {

  &:hover {
    background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);

  }

  .arrow_close {
    background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);

  }


}

.btn__icon__dashboard {
  @apply hover:bg-gradient-to-b text-[15px] dark:from-darkSecondary dark:to-darkSecondary hover:from-tamkinLight 
  hover:to-tamkinLight lg:max-w-[190px]
   h-[45px] rounded-[10px] p-[16px] text-white flex items-center justify-center md:space-x-[16px] rtl:space-x-reverse space-x-[4px];
}

.btn_bordered_dashboard {
  @apply border-[1px] border-tamkin text-tamkin bg-white dark:bg-tamkinDarkPrimary h-[40px] ipad-max:!h-[40px] lg:h-[40px]
   rounded-[10px] p-[6px] text-[10px] lg:text-[15px] 
   flex items-center justify-center cursor-pointer 
    disabled:border-0 disabled:bg-tamkin-disabled disabled:cursor-not-allowed disabled:text-white;
  
  &.error {
    @apply border-[#FF453F] text-[#FF453F] hover:bg-[#FF453F] hover:bg-opacity-10 disabled:bg-opacity-5 
    disabled:text-opacity-40 disabled:border-[1px] disabled:bg-[#FF453F] #{!important}; 
  }

  &:not(.normal_hover, .error):hover {
    background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);
    @apply text-white cursor-pointer disabled:border-0 disabled:bg-tamkin-disabled disabled:cursor-not-allowed disabled:text-white;
  }

  &.normal_hover:hover {
    @apply text-darkGrey bg-tamkinLight dark:bg-tamkinDarkPrimary/40 dark:text-white cursor-pointer #{!important};
  }

  /* Responsive adjustments */
  @apply sm:h-[40px] sm:p-[12px] md:h-[40px] md:p-[16px];
}


.gradient-border-wrapper {
  display: inline-block;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);
  border-image-slice: 1;
  border-radius: 50px;
  padding: 4px;
  /* Adjust the padding as needed */
}

.gradient-border-wrapper .btn {
  border: none;
  /* Remove default button border */
  border-radius: 8px;
  /* Ensure this matches the wrapper's border-radius minus padding */
  padding: 10px 20px;
  /* Adjust padding as needed */
  background-color: white;
  /* Button background color */
  color: #000;
  /* Button text color */
}

.btn__embed_table {

  @apply space-x-[10px] font-[500] text-[15px] bg-transparent border-[1px] dark:text-whiteTamkin
   border-tamkin flex items-center justify-evenly rounded-[10px] p-[12px] h-[36px];

  &:hover {
    background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);
    @apply text-white;
  }
}

.btn-borderd-normal {
  @apply border-[1px] border-[#A7A7A7] text-darkGrey h-[45px] w-full rounded-[10px] p-[16px] flex items-center space-x-[4px];

  &:hover {
    @apply opacity-60;
  }
}

.close_btn{
  @apply cursor-pointer;
}

.billing_badge{
  @apply w-[59px] h-[26px] border-[2px]  rounded-[10px] flex items-center justify-center; 

  &.pro{
    @apply border-darkGrey  text-[14px] leading-[21px] font-[600];

  }

  &.free{
    @apply border-[#A7A7A7] text-[14px] leading-[21px] font-[400];
  }
}

input[type="radio"]:checked + label span {
 @apply bg-tamkin;
  box-shadow: 0px 0px 0px 2px white inset;
}


.radio-tamkin{

  @apply w-[24px] h-[24px] bg-white dark:bg-tamkinDarkPrimary inline-block mr-1 rounded-full border border-tamkin;
}
.radio-normal{

  @apply w-[24px] h-[24px] bg-white dark:bg-tamkinDarkPrimary inline-block mr-1 rounded-full border border-lightGrey;
}


.btn-border-tamkin {
  position: relative;
}

.btn-border-tamkin::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px; /* Default border radius */
  padding: 1px; /* Control the border thickness */
  background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  box-sizing: border-box !important; /* Include padding and border in the element's total width and height */
}


