
html {
    overflow-y: scroll; /* Always show scrollbar to prevent jumping */


     
  }
 
  .grow-enter-active,
.grow-leave-active {
  transition: all 0.5s ease;
}

.grow-enter,
.grow-leave-to {
  transform: scale(0);
  opacity: 0;
}
.slide-enter-active,
.slide-leave-active,
.slide-appear-active {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-enter,
.slide-leave-to,
.slide-appear {
  transform: translateX(100%);
  opacity: 0;
}

.slide-enter-to,
.slide-leave,
.slide-appear-to {
  transform: translateX(0);
  opacity: 1;
}

  .nav_no_transform{
    -webkit-transform: translateZ(0);
  }

@layer utilities{
    
    .bg-selected {
        background: linear-gradient(180deg, #FEFEFE 0%, #EEF5FF 47.07%, #F6F3FC 72.04%, #FEF5F6 100%);
    
    }
    .bg-p {
        background: linear-gradient(180deg, #384558 0%, #384558 0%, #384558 0%, #384558 0%);
    
    }
    .bg-p_secondary{
        background: linear-gradient(180deg, #323E50 0%, #323E50 0%, #323E50 0%, #323E50 0%);

    }
 .fill_miniArrow{
    fill : url(#shadow-sm);
 }
   
    .gradient-fill {
        fill: url(#paint0_linear_6084_64126);
      }
      .stroke-gradient-0{
        stroke: url(#paint0_linear);
      }
      .stroke-gradient-1 {
        stroke: url(#paint1_linear);
      }
      .stroke-gradient-2 {
        stroke: url(#paint2_linear);
      }
      .stroke-gradient-3{
        stroke: url(#paint3_linear);
      }
      .sign-gradient {
        fill: url(#grad_sign_lang);
      }

      .stroke_access{
        stroke:url(#paint0_linear_2978_5493);
      }
      .fill_access{
        fill: url(#grad_ni);
      }
      .fill_services{
        fill: url(#grad1);
      }

}
@layer components {
    .bg-p {
        background: linear-gradient(180deg, #222F44 0%, #222F44 0%, #222F44 0%, #222F44 0%);
    
    }
    .bg_dashboard {
    
        @apply bg-tamkin-main-bg dark:bg-tamkin-main-bg-dark;
        
      }
    .tamkin_team_card {
        @apply flex items-center justify-start py-[10px] px-[16px] dark:text-white
         hover:bg-tamkinLight cursor-pointer bg-white dark:bg-tamkinDarkPrimary w-full h-[55px] mt-[24px]
          border-tamkin border-[1px] rounded-[10px];

        .arrow_svg {
            @apply fill-darkGrey dark:fill-white;
        }

        &.active {
            background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);
            @apply text-white;

            .arrow_svg {
                @apply text-white fill-white;
            }
        }



    }

    .dashboard-nav-link-has-menu {
        @apply flex items-center justify-start rtl:space-x-reverse space-x-[16px] p-1
        bg-whiteTamkin text-darkGrey hover:bg-tamkinLight rounded-[10px] h-[40px] 
         cursor-pointer text-[16px] font-[400];
        line-height: 24px;

        &.closed_sidebar {
            @apply flex items-center justify-center rtl:space-x-reverse  space-x-[16px] w-full
             bg-whiteTamkin text-darkGrey hover:bg-tamkinLight rounded-[10px] h-[40px] cursor-pointer text-[18px] font-[400];

        }

        &.active {
            @apply bg-gradient-to-r from-[#2DADA3] to-[#71DAD2] text-transparent bg-clip-text ;

        }

    }

    .dashboard-nav-link {
        @apply flex items-center justify-start rtl:space-x-reverse space-x-[12px]   p-1
         bg-whiteTamkin dark:bg-transparent dark:text-whiteTamkin text-darkGrey hover:bg-tamkinLight rounded-[10px] h-[40px] cursor-pointer text-[16px] font-[400];
        line-height: 24px;

        &.closed_sidebar {
            @apply flex items-center justify-center  w-[55px] 
             bg-whiteTamkin dark:bg-transparent text-darkGrey dark:text-white hover:bg-tamkinLight rounded-[10px] h-[40px] cursor-pointer text-[18px] font-[400] #{!important};

        }

        &.active-link {
            &.closedNav {
                @apply w-[55px];
            }

            @apply bg-gradient-to-r from-[#2DADA3] to-[#71DAD2] text-transparent bg-clip-text;

            .icon_active {
                @apply bg-gradient-to-r from-[#2DADA3] to-[#71DAD2] text-transparent bg-clip-text;
            }

        }

        &.has_menu {
            @apply flex items-center justify-start rtl:space-x-reverse  space-x-[10px] border-0;

            .menu_arrow {
                @apply ltr:mr-[26px] rtl:ml-[26px];
            }
        }
    }
    .dashboard-nav-link_sub_menu {
        @apply flex items-center justify-start rtl:space-x-reverse space-x-[16px] w-full max-w-[260px] 
         bg-whiteTamkin dark:bg-tamkinDarkPrimary dark:hover:bg-tamkinStart dark:text-white hover:bg-tamkinLight text-darkGrey  rounded-[10px] h-[40px] cursor-pointer text-[16px] font-[400];
        line-height: 24px;

     }


    .active_sub_menu {
        @apply bg-gradient-to-r from-[#2DADA3] to-[#71DAD2] text-transparent bg-clip-text;

    }

    .icon {
        color: white;
        background: linear-gradient(to right, #2DADA3, #71DAD2);
        background: -webkit-linear-gradient(to right, #2DADA3, #71DAD2);
    }

    .active_notification {

        color: white;
        background: linear-gradient(to right, #2DADA3, #71DAD2);
        background: -webkit-linear-gradient(to right, #2DADA3, #71DAD2);


    }

    .active_bell {
        @apply stroke-current text-white;

    }

    .active_sub_menu {
        @apply bg-gradient-to-r from-[#2DADA3] to-[#71DAD2] text-transparent bg-clip-text #{!important};
    }

    .sub_menu_arrow {
        @apply bg-gradient-to-r from-[#2DADA3] to-[#71DAD2] text-transparent bg-clip-text #{!important};

    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.v3ti-tag-content::after {
    @apply border-[1px] border-[#C5C5C5]  dark:border-darkborder;
    content: url('/assets/imgs/tick.svg');
    /* Replace 'path/to/your/svg/icon.svg' with the actual path to your SVG file */
    margin-left: 5px;
    /* Adjust spacing */
    color: green;
    /* Color the check mark green */
}

.v3ti--focus.v3ti {


    @apply border-[1px] border-tamkin #{!important};
    box-shadow: none !important;

}

.v3ti {
    @apply border-[1px] border-[#C5C5C5]  dark:border-darkborder  text-[14px] #{!important};
}

.v3ti .v3ti-content {

    @apply rtl:mr-[24px] ltr:ml-[24px] mt-[23px] ;
}
.v3ti .v3ti-new-tag{

@apply text-[14px];
}

.v3ti .v3ti-content .v3ti-tag {
    @apply bg-tamkinLight text-darkGrey rounded-none;
    /*border: 1px solid #222222;*/
    /*border-radius: 0;*/
}

.v3ti .v3ti-new-tag {
    @apply mt-[23px] focus:outline-none focus:ring-0;
}

.v3ti .v3ti-tag .v3ti-remove-tag {
    color: transparent;
    transition: color .3s;
}

.v3ti-remove-tag {
    @apply hidden;
}

.v3ti .v3ti-tag .v3ti-remove-tag:hover {
    color: black;
}

.tooltip {
    padding: 10px;
    display: inline;
    position: relative;
}

.tooltip:hover:before {
    background: #4C5C5A;
    top: 60%;
    /* changed from 60% to 100% */
    color: #fff;
    content: attr(title);
    position: absolute;
    z-index: 98;
    width: 234px;
    margin-top: 10px;

    &.right {
        @apply rtl:left-[-80%] ltr:right-[-40%];
    }

    &.left {
        @apply rtl:left-[-75%] ltr:right-[-80%];

    }

    &.packages {
        @apply rtl:right-[0px] ltr:left-[60%];

    }
    @apply text-[10px] leading-[15px] h-[50px] p-[10px] font-[500] flex items-center justify-start;
}



[title]:hover:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #4C5C5A;
    content: ' ';
    position: absolute;
    top: 61%;
    /* changed from 60% to 100% */
    transform: translateX(-50%);

    /* added to center the triangle */
    &.right {
        @apply rtl:left-[3px] ltr:right-[-6px];
    }

    &.left {
        @apply rtl:right-[0px] ltr:left-[11px];

    }
    &.packages {
        @apply rtl:right-[0] ltr:left-[12px];

    }
}
.chatwoot-hidden {
    display: none !important;
  }
.custom-border {
    position: relative;
    // padding: 20px 30px;
    margin: 0px;
    display: inline-block;


}
.custom-border.padding-override-1::before {
    padding: 0.4px !important;
    /* Custom padding */
}
.custom-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    /* control the border thickness */
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.custom-border.rounded-big::before {

    border-radius: 19px !important;

}
.custom-border.rounded-full-border::before {

    border-radius: 100% !important;

}

.custom-border.rounded-big4x::before {

    border-radius: 43px !important;

}

.custom-border.padding-2::before {

    padding: 2px !important;

}

.custom-border.rounded-small-custom::before {

    border-radius: 9px !important;

}

.custom-border-collapse {
    position: relative;
    margin: 0px;
    display: inline-block;
}

.custom-border-collapse::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0 0 10px 10px;
    /* Remove top border-radius */
    padding: 1px;
    /* control the border thickness */
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    mask: linear-gradient(black 0 0) content-box,
        linear-gradient(black 0 0);
    -webkit-mask: linear-gradient(black 0 0) content-box,
        linear-gradient(black 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  
}

.custom-border-collapse::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.8px;
    /* same as the border thickness */
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    ;
    /* same as the background color of the element */
}


.custom-border-collapse-tamkin {
    position: relative;
    margin: 0px;
    display: inline-block;
}

.custom-border-collapse-tamkin::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0 0 10px 10px;
    /* Remove top border-radius */
    padding: 1px;
    /* control the border thickness */
    background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);
    mask: linear-gradient(black 0 0) content-box,
        linear-gradient(black 0 0);
    -webkit-mask: linear-gradient(black 0 0) content-box,
        linear-gradient(black 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.custom-border-collapse-tamkin::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.8px;
    /* same as the border thickness */
    background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);
}


.full-width-absolute {
    position: absolute;
    bottom: 0;
    right: -10px;

}




.custom-border-tamkin {
    position: relative;
    margin: 0px;
    display: inline-block;

}

.custom-border-tamkin::before {

    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;
    /* control the border thickness */
    background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.custom-border-bottom {
    position: relative;
    margin: 0px;
    display: inline-block;
}

.custom-border-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    /* control the border thickness */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    pointer-events: none;
}


.custom-border-tamkin.padding-override-1::before {
    padding: 1px !important;
    /* Custom padding */
}

.custom-border-tamkin.rounded-22-tamkin::before {
    border-radius: 22px !important;
}
.custom-border-tamkin.rounded-input::before {
    border-radius: 10px !important;
}
.custom-border-tamkin.rounded-5-tamkin::before {
    border-radius: 5px !important;
}
.custom-border-tamkin.no_bottom::before {
    border-top-left-radius: 0.5rem !important;
    /* Adjust the value as needed */
    border-top-right-radius: 0.5rem !important;
    /* Adjust the value as needed */
    border-bottom-right-radius: 0rem !important;
    /* Adjust the value as needed */
    border-bottom-left-radius: 0 !important;
    /* No border-radius for bottom-left corner */
}

.custom-border-tamkin.custom-border-tamkin-rounded::before {
    border-radius: 9999px !important;
}

.custom-border-tamkin.custom-border-tamkin-rounded-small::before {
    border-radius: 9999px !important;

    padding: 1px !important;
    /* Custom padding */

}


.border-translate {
    position: relative;
    // padding: 20px 30px;
    margin: 0px;
    display: inline-block;


}
.border-translate.padding-override-1::before {
    padding:1px !important;
    /* Custom padding */
}
.border-translate::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    /* control the border thickness */
    background: linear-gradient(90deg, #35C0B4 0%, #E42AD2 47%, #4F75FD 100%);

    
    
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.border-translate.border-s::before{
    border-radius: 1px !important; 
}





.border-translate-tab {
    position: relative;
    border-radius: 10px; /* Adjust if you need rounded corners for the main element */
  }
  
  .border-translate-tab::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px; /* Adjust the thickness of the bottom border */
    background: linear-gradient(102.63deg, #2DADA3 40.85%, #77EDE3 96.93%);
    border-radius: 10px 10px 0 0; /* Adjust this for rounded corners on top edges */
    pointer-events: none;
    box-shadow: 0px 4px 4.5px 0px #E9EBEF;

  }
  
  /* Adjusted for specific bottom border radius */
  .border-translate-tab.border-s::before {
    border-radius: 1px 1px 0 0 !important;
  }
  
.last-border-b:last-child {
    border-bottom: 1px solid #E5E7EB;
    /* Adjust the color to match your design */
}


.mysite_bg_modal {
    background: linear-gradient(180deg,
            #fefefe 0%,
            #eef5ff 47.07%,
            #f6f3fc 72.04%,
            #fef5f6 100%);
}

.status-badge {
    background: linear-gradient(180deg, #2dada3 0%, #71dad2 100%);
    border: 1px solid #71dad2;
    border-radius: 17px;
    height: 25px;
    width: 88px;
    color: white;
    font-size: 12px;
    line-height: 18px;
    display: grid;
    place-items: center;
}

//   table {
//     table-layout: fixed;
//     width: 300px;
//   }

//   th,
//   td {
//     // border: 1px solid black;
//     width: 150px;
//     overflow: hidden;
//   }
.close_btn {
    @apply fixed z-[4000] lg:top-[-14px] top-4 ltr:right-4 rtl:left-4 ltr:lg:right-[-12px] rtl:lg:left-[-12px] bg-white rounded-full flex justify-center items-center w-[24px] h-[24px];

    &:hover {
        @apply text-white;
        background: linear-gradient(180deg, #2dada3 0%, #71dad2 100%);
    }
}

.close_btn_payment {
    @apply absolute top-[34px] rtl:left-[30px] ltr:right-[30px] bg-white 
    rounded-full flex justify-center items-center w-[30px] h-[30px];

    &:hover {
        @apply text-white;
        background: linear-gradient(180deg, #2dada3 0%, #71dad2 100%);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.circular-progress {
    position: relative;
   @apply lg:h-[36px] lg:w-[36px] h-[25px] w-[25px];
}

.circular-progress.big {
    width: 60px !important;
    height: 60px !important;
}

.circular-progress svg {
    transform: rotate(-90deg);
}

.circular-progress circle {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
}

.circular-progress .bg-circle {
    stroke: #e5e7eb;
    /* Tailwind color gray-200 */
}

.circular-progress .progress-circle {
    stroke: url(#gradient);
    /* Reference to the gradient */
    transition: stroke-dasharray 0.3s;
}

.circular-progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  

}

.toggle_wrap {
    @apply relative inline-flex items-center cursor-pointer w-full;

    .toggle_parent {

        @apply w-[45px] lg:w-[58px] h-[28px] bg-white dark:bg-transparent rounded-full
         peer-checked:bg-green-500 transition-colors duration-200;
&.small{@apply h-[20px] w-[45px] #{!important};}

        &.translate {
            @apply bg-[#F7F7F7] border-0 rounded-[8px] #{!important};
        }

        &:not(.translate).active {
            position: relative;
            margin: 0px;
            display: inline-block;
        }

        &:not(.translate).in_active {
            @apply border-[1px] dark:border-light;
        }

        &:not(.translate).active::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 16px;
            padding: 1px;
            /* control the border thickness */
            background: linear-gradient(180deg, #2DADA3 0%, #71DAD2 100%);

            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        .toggle_inner {
            @apply absolute rtl:right-[2px] ltr:left-[4px] inset-y-0 w-[24px] h-[24px] 
           rounded-full transition-transform duration-200 transform;
        
&.small{
    @apply ltr:left-[1px] h-[20px] w-[20px] mt-[1px] #{!important};
}
            &:not(.translate).active {
                @apply rtl:-translate-x-full ltr:translate-x-full rtl:right-0 left-[-5px] lg:ltr:left-[8px] #{!important};
            }

            &:not(.translate).in_active {

                @apply border-[1px] border-lightGrey;

            }
            &:not(.translate).active_small{
                @apply rtl:-translate-x-full ltr:translate-x-full rtl:right-0 left-[5px]  #{!important};
            }

            &:not(.translate).in_active_small {

                @apply border-[1px] border-lightGrey;

            }
            
        }

        .toggle_icon {
            @apply w-[24px] h-[24px] rounded-full flex items-center justify-center shadow-lg transform transition-transform;

            &:not(.translate).active {
                @apply bg-teal-400 rtl:translate-x-[-22px] ltr:translate-x-[10px];
                
            }

            &:not(.translate).in_active {
                @apply bg-gray-400 rtl:translate-x-[2px] ltr:-translate-x-[2px];
                &.small{@apply  ltr:-translate-x-[-1px] #{!important};}

            }
        }
    }
}

.menu_button_control{


    @apply absolute top-[21px] right-0  mr-[15px] rtl:mr-auto rtl:ml-[15px] ltr:ml-auto  flex items-center
     justify-center cursor-pointer bg-[#F2F2F2] dark:bg-tamkinDarkPrimary
      dark:border-darkborder dark:border-[1px] rounded-[10px] w-[36px] h-[30px] lg:h-[36px] ;

&.active_notification{
    @apply shadow;
}
   
}
.mini_SizeMenu{

    @apply flex flex-col items-start justify-start cursor-default absolute z-[1000] top-0 rtl:left-[50px]
     ltr:right-[50px] w-[203px] !divide-y dark:divide-darkborder bg-white dark:bg-tamkinDarkPrimary
     rounded-[10px] border-[1px] border-lightGrey dark:border-darkborder shadow-lg;

    .mini_wrap{

        @apply flex items-center justify-start cursor-pointer space-x-[8px] py-[16px] px-[12px] w-full 
    }
.text_mini{
    @apply text-[14px] leading-[21px] font-[400] dark:text-whiteTamkin;
}

    .arrow{
        @apply absolute top-[10px] rtl:left-[-10px] ltr:right-[-10px] z-[50] border-none rtl:rotate-180 border-[1px]
         border-lightGrey dark:border-darkborder ; 
    }
}

.tamkin_date_input_ref {
    @apply rtl:pr-[14px] ltr:pl-[14px] text-[15px] w-full h-[40px] rounded-[10px] border-[1px] dark:border-darkborder
     border-[#585B5B8C] dark:bg-tamkinDarkPrimary dark:text-whiteTamkin focus:outline-0 #{!important};
  }
.bg_interval_open {
    @apply text-white bg-gradient-to-b from-tamkinStart to-tamkinEnd dark:bg-tamkinDarkPrimary #{!important};
  
    &.tamkin {
      @apply rounded-[10px] h-[32px];
    }
  }
  
  .tamkin_date_input {
    box-shadow: 0px 1.54px 3.08px 0px #61616133, 0px 0.77px 1.54px 0px #61616133;
    @apply rtl:pr-[14px] ltr:pl-[14px] text-[15px] w-full h-[32px] rounded-[10px] border-[1px] dark:border-darkborder
     border-[#585B5B8C] dark:bg-tamkinDarkPrimary dark:text-whiteTamkin focus:outline-0 #{!important};
  }
  
  .dp__pointer::placeholder {
    @apply text-darkGrey dark:!text-whiteTamkin opacity-100 font-[400] font-[Poppins] #{!important};
  }
  
  .dp__input.dp__input_icon_pad.dp__input_focus {
    @apply outline-0 ring-0 border-[1px] !border-[#585B5B8C] #{!important}; 
  }
  
  .dp__input {
    @apply rtl:pr-[14px] ltr:pl-[14px] text-[15px];
  }
  
  .dp__input_wrap .dp__input_icon {
    @apply ltr:right-[14px] rtl:left-[14px];
    inset-inline-start: auto !important;
  }
  
  .dp__calendar_item .dp__range_start,
  .dp__calendar_item .dp__range_end {
    background: linear-gradient(180deg, #2dada3 0%, #71dad2 100%);
    @apply rounded-full;
  }
  
  .dp__calendar_item .dp__range_between {
    @apply bg-tamkinLight border-0;
  }
  
  .dp__calendar_item .dp__today {
    @apply rounded-full bg-white dark:bg-tamkinDarkPrimary font-[700] text-darkGrey dark:text-whiteTamkin 
    border-[1px] border-[#616161] dark:border-darkborder;
  }
  
  .dp__calendar_item .dp__today.dp__range_end,
  .dp__calendar_item .dp__today.dp__range_start {
    @apply rounded-full bg-white font-[700] text-white border-0 dark:bg-tamkinDarkPrimary dark:text-whiteTamkin #{!important};
  }
  
  .dp__calendar_item .dp__date_hover_start,
  .dp__calendar_item .dp__date_hover {
    @apply bg-tamkinLight;
  }
  
  .dp__inner_nav,
  .dp--arrow-btn-nav:hover {
    @apply text-tamkin;
  }
  
  .dp__theme_dark {
    --dp-background-color: #323e50;
    --dp-text-color: #fffefe;
    --dp-hover-color: #484848;
    --dp-hover-text-color: #fff;
    --dp-hover-icon-color: #959595;
    --dp-primary-color: #005cb2;
    --dp-primary-disabled-color: #61a8ea;
    --dp-primary-text-color: #fff;
    --dp-secondary-color: #a9a9a9;
    --dp-border-color: #2d2d2d;
    --dp-menu-border-color: #2d2d2d;
    --dp-border-color-hover: #aaaeb7;
    --dp-border-color-focus: #aaaeb7;
    --dp-disabled-color: #737373;
    --dp-disabled-color-text: #d0d0d0;
    --dp-scroll-bar-background: #212121;
    --dp-scroll-bar-color: #484848;
    --dp-success-color: #00701a;
    --dp-success-color-disabled: #428f59;
    --dp-icon-color: #959595;
    --dp-danger-color: #e53935;
    --dp-marker-color: #e53935;
    --dp-tooltip-color: #3e3e3e;
    --dp-highlight-color: rgba(0, 92, 178, 0.2);
    --dp-range-between-dates-background-color: var(--dp-hover-color, #484848);
    --dp-range-between-dates-text-color: var(--dp-hover-text-color, #fff);
    --dp-range-between-border-color: var(--dp-hover-color, #fff);
  }