@layer components {
    

.input_error {
    @apply  border-tamkingErrorInput #{!important} ;
}
.input_success {
    @apply  border-tamkin #{!important} ;
}


.input_floating_label {
    @apply  lg:text-[14px] pl-[20px] lg:pl-[30px] h-[40px] lg:h-[50px] rounded-[10px] py-[14px] bg-white
     border-lightGrey md:w-full lg:w-full xl:w-[580px] ipad-max:max-w-full w-full border-[1px]
      focus:border-tamkin focus:ring-[1.5] placeholder:text-transparent;
   &.error_text {
    // @apply text-light;
   }
  }

  .input_search_country {
    @apply  lg:text-[14px] pl-[20px] lg:pl-[30px] h-[40px] lg:h-[50px] rounded-[10px] py-[14px] bg-white
     border-lightGrey md:w-full lg:w-full xl:w-[580px] ipad-max:max-w-full w-full border-[1px]  focus:ring-[0] placeholder:text-transparent;
   &.error_text {
    // @apply text-light;
   }
  }
  .input_dashboard {
    @apply text-[12px] lg:text-[14px] pl-[20px] lg:pl-[30px] h-[40px] lg:h-[45px] rounded-[8px] py-[14px] bg-white border-lightGrey lg:w-[300px] xl:w-[500px] 3xl:w-[800px] ipad-max:max-w-full  border-[1px] focus:border-tamkin focus:ring-0;

  }
  .floating_label {
    @apply cursor-text rounded-[10px] absolute rtl:right-[15px] ltr:left-[15px] lg:rtl:right-[30px] lg:ltr:left-[30px] 
    top-[8px] lg:top-[12px] -translate-y-0 bg-white px-1 duration-100 ease-linear text-light peer-focus:text-darkGrey 
    text-[12px] 2xl:text-[15px] text-[400] peer-focus:text-[12px] ipad-max:text-[12px] ipad-max:peer-focus:text-[12px] 2xl:peer-focus:text-[16px];
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  input:focus ~ .floating_label,
  input:not(:placeholder-shown) ~ .floating_label {
    @apply -translate-y-6 px-1 text-darkGrey text-[16px];
  }
  
  .error_message {
    @apply font-[300] text-right text-[10px] text-error absolute bottom-[4px] rtl:left-[29px]  lg:ltr:right-[14px];
    
  }
  .error_message_password {
    @apply font-[300] text-right text-[10px] lg:text-[12px] text-error absolute rtl:bottom-[1px] ltr:bottom-[1px]  rtl:left-[29px] ltr:right-[14px];
    
  }
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }

  .search_input{
    @apply relative;
    .input_dashboard_search {
      @apply placeholder:text-[#BCC0BF] text-[12px] font-[500] lg:text-[14px] pl-[30px] lg:pl-[38px] h-[40px] lg:h-[45px] rounded-[8px] py-[14px] bg-white border-lightGrey  border-[1px] focus:border-tamkin focus:ring-0;
      line-height: 19.5px;
      
    }
  }
}
