@layer components {
    

.input_error {
    @apply  border-tamkingErrorInput #{!important} ;
}
.input_success {
    @apply  border-tamkin #{!important} ;
}


.input_floating_label {
    @apply pl-[15px] lg:pl-[30px] h-[40px] lg:h-[50px] rounded-[10px] lg:ml-1 py-[14px] bg-white border-lightGrey md:w-full lg:w-[580px] w-full border-[1px] focus:border-tamkin focus:ring-[1.5] placeholder:text-transparent;
  
   
  }
  
  .floating_label {
    @apply cursor-text rounded-[10px] absolute rtl:right-[15px] ltr:left-[15px] lg:rtl:right-[30px] lg:ltr:left-[30px] top-[8px] lg:top-[12px] -translate-y-0 bg-white px-1 duration-100 ease-linear text-light peer-focus:text-darkGrey text-[16px] lg:text-[18px] text-[400] peer-focus:text-[16px];
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  input:focus ~ .floating_label,
  input:not(:placeholder-shown) ~ .floating_label {
    @apply -translate-y-6 px-1 text-darkGrey text-[16px];
  }
  
  .error_message {
    @apply font-[300] text-right text-[10px] lg:text-[14px]  text-error absolute bottom-[10px] rtl:left-[29px] ltr:right-[14px];
    
  }


}
