@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./dashboard.scss');

@import url('./inputs.scss');
@import url('./loading.scss');

@import url('./buttons.scss');

html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


body{
    @apply dark:bg-darkSecondary;

}

.otp_field {
    @apply lg:w-[78px] focus:bg-whiteTamkin lg:h-[65px] ipad-max:w-[55px] ipad-max:h-[45px] md:w-[50px]
     md:h-[40px] w-[50px] h-[50px] flex flex-col items-center justify-center text-center px-5 dark:border-darkborder dark:text-whiteTamkin
     rounded-[15px] border border-lightGrey focus:outline-none focus:ring-0 focus:border-tamkin dark:bg-tamkinDarkPrimary
     shadow-sm text-lg bg-whiteTamkin [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none
      [&::-webkit-inner-spin-button]:appearance-none;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    /* Change 'white' to your desired background color */
}

.is-complete {
    @apply border-[1px] border-tamkin #{!important};
}

.password_eye {
    @apply absolute top-[6px] lg:top-[6px] rtl:left-[30px] ltr:right-[30px] p-1 cursor-pointer hover:opacity-80;

    .svg_eye {
        @apply w-[16px] h-[16px] lg:h-[20px] lg:w-[20px] text-light;
    }
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

* {
    box-sizing: border-box;
}



.scrollable-div {
    position: relative;
    overflow-y: scroll;
    height: 315px;
    /* Set the height of the div */

}

.scrollable-div::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */

}

.scrollable-div::-webkit-scrollbar-track {
    @apply bg-[#D9D9D9];
    /* Color of the scrollbar track */
    border-radius: 10px;
    /* Roundness of the track */

}

.scrollable-div::-webkit-scrollbar-thumb {
    @apply bg-[#999696];
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Roundness of the thumb */


}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
    /* Color of the scrollbar thumb when hovered */
}

.el-loading-mask {
    padding: 0 !important;
    margin: 0 !important;
}